/* Background Image */

#backImage {
    background-image: url("/assets/images/fastnet-people2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#fade {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 241, 239, 0.466);
    background-size: cover;
}


/* Title */


/* User entry */


/* Navigation to 3 games pages */


/* Cards */

.carD {
    position: relative;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.up {
    z-index: 3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 150px;
    position: absolute;
    /* backface-visibility: hidden; */
    margin: 5px;
}

.hidden {
    z-index: 4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/Card_Front.png');
    background-color: lightblue;
    height: 200px;
    width: 150px;
    position: absolute;
    /* backface-visibility: hidden; */
    margin: 5px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 700px) {
    .carD {
        position: relative;
        height: 100px;
        width: 60px;
        margin: 5px;
    }
    .up {
        z-index: 4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 60px;
        position: absolute;
        /* backface-visibility: hidden; */
        margin: 5px;
    }
    .hidden {
        z-index: 3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/images/Card_Front.png');
        background-color: lightblue;
        height: 100px;
        width: 60px;
        position: absolute;
        /* backface-visibility: hidden; */
        margin: 5px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}


/* .testClick {
    background-image: url("/assets/images/Card_Front.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 200px;
} */

#clock {
    background-color: rgb(255, 255, 255, 0.5);
    color: #741c69;
    font-size: 20px;
    text-align: center;
    width: auto;
    padding: 4px;
    border-radius: 5px;
}