/* Background Image */

#backImage {
    background-image: url("/assets/images/fastnet-people2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#fade {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 241, 239, 0.466);
    background-size: cover;
    font-family: 'Original Surfer', cursive;
    padding-top: 5px;
}


/* Title */

#clock {
    background-color: #1c7ab585;
    color: #1d0d1b;
    font-size: 90%;
    text-align: center;
    width: auto;
    padding: 4px;
    border-radius: 5px;
}

.title {
    background-color: #1c7ab585;
    color: #1d0d1b;
    font-size: 2em;
    text-align: center;
    width: auto;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

#reStart {
    background-color: #1c7ab585;
    color: #1d0d1b;
    font-size: 1em;
    text-align: center;
    width: auto;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

#start {
    margin-top: 40px;
    width: 200px;
    height: 75px;
    background-color: rgba(107, 181, 230, 0.986);
    border-radius: 10px;
    border: 2px solid #4a51b3;
    box-shadow: 5px 5px 2px #bfbfc436;
}

#stopwatch {
    background-color: #1c7ab585;
    color: #1d0d1b;
    font-size: 1em;
    text-align: center;
    width: 200px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}


/* User entry */


/* Navigation to 3 games pages */


/* Start page before game start */

.jumbotron {
    font-family: 'Original Surfer', cursive;
    margin-top: 100px;
    background-color: #1c7ab5c7;
    background-image: url('/assets/images/Card_Front.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 15px #1c7ab5c7;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}


/* Cards */

.carD {
    position: relative;
    height: 200px;
    width: 150px;
    margin: 5px;
}


/* z-index used to keep correct hidden face on top */

.hidden {
    z-index: 2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/Card_Front.png');
    background-color: lightblue;
    height: 200px;
    width: 150px;
    position: absolute;
    /* backface-visibility: hidden; */
    margin: 5px;
}

.up {
    /* z-index: 3; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 150px;
    position: absolute;
    /* backface-visibility: hidden; */
    margin: 5px;
    color: rgba(46, 43, 54, 0.808);
    font-variant-caps: all-petite-caps;
    font-weight: 900;
    font-display: block;
    padding-left: 5px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 700px) {
    .carD {
        position: relative;
        height: 100px;
        width: 60px;
        margin: 5px;
    }
    .up {
        z-index: 3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 60px;
        position: absolute;
        /* backface-visibility: hidden; */
        margin: 5px;
    }
    .hidden {
        z-index: 4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/images/Card_Front.png');
        background-color: lightblue;
        height: 100px;
        width: 60px;
        position: absolute;
        /* backface-visibility: hidden; */
        margin: 5px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}