/* Background Image */

body {
    font-family: 'Original Surfer', cursive;
    font-size: 20px;
    min-height: 100vh;
}

#backImage {
    background-image: url("/assets/images/fastnet-people2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: unset; */
    background-size: cover;
    /* height: 100vmax; */
    /* width: 100%;
    height: auto; */
}

#fade {
    background-color: rgba(148, 149, 192, 0.507);
    min-height: inherit;
    /* margin-bottom: 20px; */
}


/* Title */

.title {
    /* background-color: #1c7ab585; */
    color: #d0d3fa;
    font-size: 1.7rem;
    text-align: center;
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

.dClock {
    /* background-color: #1c7ab585; */
    color: #d0d3fa;
    font-size: 90%;
    text-align: center;
    width: 300px;
    padding: 4px;
    border-radius: 5px;
}

.r3 {
    margin: 5px 5px 20px 0px;
}

.c1 {
    padding-left: 0;
}

#reStart {
    color: #f3f3f7;
    font-size: large;
    margin-top: 40px;
    width: auto;
    /* height: 75px; */
    /* Adapted from W3 schools */
    background-image: linear-gradient(to top right, rgb(0, 255, 85), rgb(0, 130, 91), rgb(130, 180, 238));
    box-shadow: 5px 5px 5px rgb(41, 36, 36);
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

#stopwatch {
    background-image: linear-gradient(to bottom right, rgb(225, 0, 255), rgb(237, 240, 245), rgb(189, 130, 238));
    color: #1d0d1b;
    font-size: 1em;
    text-align: center;
    max-width: 200px;
    height: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 10px 15px 5px 15px;
}


/* User entry */


/* Navigation to 3 games pages */


/* Start page before game start */

.jumbotron {
    font-family: 'Original Surfer', cursive;
    margin: 100px, 5px, 5px, 5px;
    background-color: #1c7ab5c7;
    background-image: url('/assets/images/Card_Front.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: solid 15px #1c7ab5c7; */
    padding: 10px 15px 10px 10px;
}

.explain1,
.explain2 {
    background-color: rgb(250, 235, 215, 0.7);
    margin: 10px 5px 15px 5px;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.explain1 {
    background-image: linear-gradient(to right, rgb(180, 162, 192), violet);
}

.link {
    color: purple;
}

.speedBox {
    margin: 40px 15px 50px 5px;
}

button {
    box-shadow: 5px 5px 5px rgb(41, 36, 36);
    border: none;
    width: 110px;
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
}

#slow {
    background-image: linear-gradient(to right, rgb(75, 153, 56), rgb(238, 195, 130));
}

#medium {
    background-image: linear-gradient(to right, rgb(238, 195, 130), rgb(238, 155, 130));
}

#quick {
    background-image: linear-gradient(to right, rgb(238, 155, 130), rgb(238, 40, 34));
}

.speedPick {
    border: 5px solid rgb(252, 255, 213);
}


/* .fun1 {
    background-color: rgba(124, 123, 197, 0.795);
    margin-bottom: 40px;
    text-align: center;
    border-radius: 150%;
    padding: 10px;
} */

.fun {
    background-color: rgba(123, 192, 197, 0.425);
    fill-opacity: inherit;
    background-position: relative;
    font-size: 3em;
    color: rgb(79, 18, 119);
    text-shadow: 2px 2px 5px #e7e2e2;
    border-radius: 150%;
    padding: 15px;
    text-align: center;
}

#start {
    color: #f3f3f7;
    font-size: large;
    margin-top: 40px;
    width: 200px;
    height: 75px;
    /* Adapted from W3 schools */
    background-image: linear-gradient(to right, red, orange, green, blue, indigo, violet);
    box-shadow: 5px 5px 5px rgb(41, 36, 36);
    border: none;
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
}


/* Cards */

.cardBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carD {
    position: relative;
    height: 200px;
    width: 150px;
    margin: 5px;
}


/* z-index used to keep correct hidden face on top */

.hidden {
    z-index: 2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/Card_Front.png');
    background-color: #81b2d1;
    height: 200px;
    width: 150px;
    position: absolute;
    /* backface-visibility: hidden; */
    margin: 5px;
}

.up {
    /* z-index: 3; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 150px;
    position: absolute;
    margin: 5px;
    color: rgba(46, 43, 54, 0.808);
    font-variant-caps: all-petite-caps;
    font-weight: 900;
    font-display: block;
    padding-left: 5px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 700px) {
    .title {
        font-size: 0.8rem;
    }
    .carD {
        position: relative;
        height: 100px;
        width: 60px;
        margin: 5px;
    }
    .up {
        /* z-index: 3; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 80px;
        position: absolute;
        margin: 15px;
        color: rgba(46, 43, 54, 0.808);
        font-variant-caps: all-petite-caps;
        font-weight: 900;
        /* font-display: block; */
        /* padding-left: 5px; */
        font-size: xx-small;
    }
    .hidden {
        z-index: 4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/images/Card_Front.png');
        background-color: lightblue;
        height: 100px;
        width: 80px;
        position: absolute;
        margin: 15px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */


/* @media only screen and (min-width: 600px) {} */


/* Medium devices (landscape tablets, 768px and up) */


/* @media only screen and (min-width: 768px) {} */


/* Large devices (laptops/desktops, 992px and up) */


/* @media only screen and (min-width: 992px) {} */


/* Extra large devices (large laptops and desktops, 1200px and up) */


/* @media only screen and (min-width: 1200px) {} */

footer {
    color: rgb(248, 231, 231);
    font-size: small;
    font-weight: 500;
    margin: 5px 5px 10px 5px;
    background-color: #1c7ab585;
}

.foot {
    margin: 0 5px 0 5px;
}